.background {
    background-image: url("https://funart.pro/uploads/posts/2020-04/1588075306_35-p-serie-foni-89.jpg");
    min-height: 1000px;
    max-width: 970px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    margin: auto;
        }